# torch
# accelerate
# opencv-python
# spaces
# pillow
# numpy
# timm
# kornia
# prettytable
# typing
# scikit-image
# huggingface_hub
# transformers>=4.39.1
# gradio
# gradio_imageslider
# loadimg>=0.1.1

!pip install torch accelerate opencv-python spaces pillow numpy timm kornia prettytable typing scikit-image huggingface_hub transformers>=4.39.1 gradio gradio_imageslider loadimg>=0.1.1
